@charset "UTF-8";

body,
html {
	margin: 0;
	padding: 0;
}

#banner1_729248573 {
	background-color: #ffffff;
	border: 0;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 1975px;
	overflow: hidden;
	position: relative;
	width: 2049px;
	z-index: 1;
}
